<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="freenow-be-api-tests" verbose="1">
    <listeners>
        <listener class-name="com.freenow.testchallenge.listener.TestSuiteListener"/>
        <listener class-name="com.freenow.testchallenge.listener.TestCaseListener"/>
    </listeners>
    <test name="users">
        <parameter name="userName" value="Samantha"/>

        <classes>
            <class name="users.UsersAPITest">
                <methods>
                    <include name="verifyUsersResponseIsNotNull"/>
                    <include name="verifyUniqueRecordIsPresentForGivenUserName"/>
                    <include name="verifyUserIdIsNotNull"/>
                    <include name="verifyGivenNameIsPresent"/>
                    <include name="verifyUserDoesNotExistForInvalidUserName"/>
                </methods>
            </class>
            <class name="posts.PostsAPITest">
                <methods>
                    <include name="verifyGetUserId"/>
                    <include name="verifyGetAllPostsByUserId"/>
                    <include name="verifyEmptyResponseReturnForInvalidUserId"/>
                </methods>
            </class>
            <class name="comments.CommentsAPITest">
                <methods>
                    <include name="verifyCommentContainsValidEmail"/>
                    <include name="verifyNoCommentsFoundForInvalidPostId"/>
                    <include name="verifyCommentsBelongToUserPostId"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
